.jumbotron {
  padding-top: 6rem;
  margin-bottom: 40vh;
  height: 100%;
}

.imagesaya{
  margin-top: 6vh;
}

body{
  background-color: gray;
}

#project {
  background-color: grey;
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-bottom: 12vh;
}

#about{
  margin-bottom: 35vh;
}
.about{
  margin-top: 10vh;
}

section {
  padding-top: 5rem;
  background-color: grey;
}

nav {
  background-color: black;
}

footer {
  background-color: black;
}

.btn {
  background-color: black;
  color: white;
}

.kontak{
  margin-bottom: 7vh;
}

.slmt{
  color: blue;
  font-size: 10px;
}