html, body {
    height: 100%; /* Pastikan tinggi html dan body adalah 100% */
    margin: 0; /* Menghilangkan margin default */
    overflow: hidden; /* Menonaktifkan kemampuan scroll */
}

body {
    background-image: url('../image/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.card {
    background-color: transparent; /* Semi-transparent background */
    border: 2px solid #000;
    border-radius: 2px;
}
.daftar{
color: aliceblue;

}

.daftar:hover {
    color: blue;
}

.form{
    color: white;
    font: bold;
}